textarea {
    min-height: 400px;
}

.error {
    color: red;
    font-weight: 600;
}

.email-card-style{
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: space-around;
}